<% include ../partials/header.ejs %>
<!-- Content page for about -->

    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <h1>Arlina Ramrattan</h1>
          <p>I am a 5th semester Software Engineering Student at Centennial College.</p>
          <P>I have done 2 Co-ops at the Royal Bank of Canada, working for 2 different teams. The technologies that I learned from them, 
          is Node.JS, Angular.JS and Java. </p>

          <h4>Known Tech</h4>

         <strong> <h5>Programming Languages </h5>
          <p>C#, Java, JavaScript, HTML, CSS, SCSS, SQL, TypeScript, AngularJS, ASP.NET</p>
          <h5>Operating Systems</h5>
          <p>Windows XP, 7, 8, 10; Linux distributions </p>
          <h5>Software </h5>
          <p>MS Visio, MS Word, MS PowerPoint, MS Excel, MS Visual Studio, Visual Paradigm, Eclipse, Git</p>
          <h5>Database Systems</h5>
          <p>MS SQL Server, MySQL, Oracle</p></strong>

        </div>
      </div>
    </div>
    <% include ../partials/footer.ejs %>
