    <% include ../partials/header.ejs %>
    <!--Contact Page-->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <h1>Contact Me</h1>
          <br>
          <h2>You can send me mail at</h2>
          <strong>
          <p>11 James Potter Rd.</p>
          <p>Brampton, ON</p>
          <h3>OR</h3>
          <h2>You can email me at: </h2>
          <email>aramrat2@my.centennialcollege.ca</email>
          </strong>
        </div>
      </div>
    </div>
    <% include ../partials/footer.ejs %>