    
    <% include ../partials/header.ejs %>
    <!--Projects Page-->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <h1>My Projects</h1>
          <strong>
          <h3>C# Projects</h3>
          <p>Too many to count</p>

          <h3>Java Projects</h3>
          <p>You don't want to know</p>

          <h3>Python Projects</h3>
          <p>Coming soon</p>
          <br>
          <br>
          <h6>*All projects will be displayed after they are made live or posted on GitHub</h6>
          </strong>

        </div>
      </div>
    </div>
    <% include ../partials/footer.ejs %>